{{! This template will continue to embed submenu until no children remaining }}
<li {{#haschildren}} class="disable-hover" {{/haschildren}} >
    {{#divider}}
        <div class="dropdown-divider"></div>
    {{/divider}}
    {{^divider}}
        
        {{#is_action_link}}
            <a class="dropdown-item role="menuitem" 
                {{#actionattributes}}
                    {{name}}="{{value}}"
                {{/actionattributes}}
                {{#url}}  
                    href="{{{url}}}{{{action}}}" 
                {{/url}}
                data-disableactive="true" tabindex="-1">
                {{{text}}}
            </a>
            {{#action_link_actions}}
                {{> core/actions }}
            {{/action_link_actions}}
        {{/is_action_link}}
        {{^is_action_link}}
            <a class="dropdown-item" role="menuitem"
                {{#url}} 
                    href="{{{url}}}{{{action}}}" 
                {{/url}} 
                {{#isactive}}
                    aria-current="true"
                {{/isactive}} tabindex="-1">
                {{{text}}}
            </a>
        {{/is_action_link}}

        <ul class="dropdown-menu {{#haschildren}}dropdown-submenu{{/haschildren}}" 
        role="{{#haschildren}}menu{{/haschildren}}" >
            {{#children}}
                {{> core/moremenu_children_infinite }} {{! CALL ITSELF}}
            {{/children}}
        </ul>

    {{/divider}}
</li>